{%extends 'core/base.html'%}

{% block content%}
<!-- INDEX -->
<div class="container">
  <div class="hero">
    <h1>
      <span class="txt-bold">Buscando</span> el siguiente desafío para
      <span class="txt-bold"
        >cambiar el mundo <span class="bg-y">digital</span></span
      >
    </h1>
    <img
      src="https://i.ibb.co/37HXMd8/img-profile.jpg"
      alt="imagen de perfil"
    />
  </div>
  <!-- fin-hero -->
  <section>
    <div class="title-bg">
      <h2>Sobre mi</h2>
    </div>
    <article>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        consequat est vel nisi suscipit vestibulum. Pellentesque ac neque
        laoreet, lacinia tortor eu, tempor nisi. Nulla rhoncus augue augue,
        consequat vehicula ante sodales quis. Cras sit amet semper massa, et
        porttitor lacus. Mauris viverra blandit tempus. Ut euismod maximus
        lorem, a rhoncus turpis porta sit amet. Vestibulum feugiat massa
        molestie urna blandit ultrices. Curabitur sit amet turpis id dolor
        vestibulum venenatis. Mauris pulvinar libero eu ex viverra fermentum.
        Vivamus a justo vel risus aliquam laoreet. Suspendisse ac libero
        eleifend, fermentum odio in, luctus diam. Proin a mauris facilisis dolor
        congue fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Maecenas non ornare lorem, id vestibulum magna. Pellentesque
        lobortis eget risus in lacinia.
      </p>
    </article>
  </section>
  <!-- fin-me -->
</div>
{% endblock %}