/********************************/
/* IMPORT FONT */
/********************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

/********************************/
/* RESET */
/********************************/
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/********************************/
/* COLOR-PALETTE */
/********************************/
:root {
  --color-fontB: #000;
  --color-fontW: #fff;
  --color-bg-nav: #dfdfdf;
  --color-bg-footer: #1d1d1d;
  --color--bg-yellow: #e2e458;
}
/********************************/
/* GENERAL STYLES */
/********************************/
body {
  color: var(--color-fontB);
  font-family: "Roboto", sans-serif;
}
.container{
  min-height: 100vh;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.txt-bold {
  font-weight: 900;
}
.bg-y {
  background-color: var(--color--bg-yellow);
  padding: 0 0.3rem;
}
.title-bg {
  background-color: var(--color--bg-yellow);
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
  padding: 10px 5px 10px 0;
  margin-bottom: 1.5rem;
}
h2,
h5 {
  font-weight: 100;
}
article {
  margin-left: 200px;
  max-width: 900px;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: lighter;
}
/********************************/
/* NAV */
/********************************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-nav);
  width: 100%;
  height: 100px;
  padding: 0 2rem;
  font-size: 1rem;
  z-index: 1;
}
.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}
.hello h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.hello p {
  font-weight: lighter;
}

#links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#nav_links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 1.5rem;
}
#nav_links li {
  font-weight: 100;
  padding: 0 2rem;
}
#social_links li {
  padding: 0 0.2rem;
}
/********************************/
/* HERO */
/********************************/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-nav);
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}
.hero h1 {
  padding: 0 5%;
  width: 50%;
  font-weight: 100;
}
.hero img {
  max-height: 100%;
}
/********************************/
/* ME */
/********************************/
section {
  position: relative;
  padding: 3rem 0;
  display: block;
}
/********************************/
/*CV*/
/********************************/
.job {
  margin-bottom: 1rem;
  line-height: 2rem;
}
.job p {
  line-height: 1.5rem;
}
.job h4 {
  font-weight: normal;
}
/********************************/
/*PORTAFOLIO*/
/********************************/
.grid-portafolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  max-width: 1200px;
  text-align: center;
  margin: 3rem auto;

}
.grid-portafolio a {
  border-radius: 10px;
  background-color: var(--color-bg-footer);
  height: 100%;
}
.grid-portafolio img {
  display: block;
  height: calc(100% - 4rem);
  width: 100%;
  object-fit: cover;
}
.grid-portafolio p {
  color: var(--color-fontW);
  margin-top: 1.5rem;
}
/********************************/
/*FOOTER*/
/********************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 70px;
  font-size: 0.8rem;
  font-weight: lighter;
  background-color: var(--color-bg-footer);
  color: var(--color-fontW);
}
